Package: ws.hbang.canzone
Name: Canzone
Pre-Depends: org.swift.libswift-3.1-arm64 (>= 3.1.1)
Depends: firmware (>= 10.0), firmware (<< 10.3), cy+cpu.arm64, mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.11)
Version: 1.0~beta1
Architecture: iphoneos-arm
Description: Widget and notifications for now playing music
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/Canzone.bundle/icon@2x.png
Depiction: https://cydia.hbang.ws/depiction/ws.hbang.canzone/
Support: https://hbang.ws/support/
Sponsor: thebigboss.org <http://thebigboss.org>
dev: hbang
