<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WIDGET_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>TypeStatusPlusGroup</string>
			<key>label</key>
			<string>TYPESTATUS_PLUS</string>
			<key>footerText</key>
			<string>TYPESTATUS_PLUS_PROVIDER_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>NowPlayingProvider</string>
			<key>label</key>
			<string>TYPESTATUS_PLUS_PROVIDER</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>TypeStatusPlusNotificationsGroup</string>
			<key>label</key>
			<string>NOTIFICATIONS</string>
			<key>footerText</key>
			<string>NOW_PLAYING_BULLETINS_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>NotificationsGroup</string>
			<key>footerText</key>
			<string>NOW_PLAYING_BULLETINS_EXPLANATION</string>
		</dict>
		<dict>
			<key>id</key>
			<string>NotificationsCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>KEEP_ALL_NOTIFICATIONS_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>NowPlayingKeepBulletins</string>
			<key>label</key>
			<string>KEEP_ALL_NOTIFICATIONS</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WAKE_WHEN_LOCKED_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>NowPlayingWakeWhenLocked</string>
			<key>label</key>
			<string>WAKE_WHEN_LOCKED</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HIDE_LOCK_MUSIC_CONTROLS_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>HideLockMusicControls</string>
			<key>label</key>
			<string>HIDE_LOCK_MUSIC_CONTROLS</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>TypeStatusPlusNotInstalledGroup</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>height</key>
			<integer>64</integer>
			<key>icon</key>
			<string>typestatusplus.png</string>
			<key>id</key>
			<string>TypeStatusPlusNotInstalled</string>
			<key>label</key>
			<string>TYPESTATUS_PLUS</string>
			<key>subtitle</key>
			<string>TYPESTATUS_PLUS_SUBTITLE</string>
			<key>url</key>
			<string>https://typestatus.com/plus/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBCZAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
	</array>
	<key>title</key>
	<string>Canzone</string>
</dict>
</plist>
