<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WIDGET_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PREVIEW</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBCZNotificationTableCell</string>
			<key>height</key>
			<integer>122</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>NotificationsGroup</string>
			<key>label</key>
			<string>NOW_PLAYING_BULLETINS</string>
			<key>footerText</key>
			<string>NOW_PLAYING_BULLETINS_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WAKE_WHEN_LOCKED_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>NowPlayingKeepBulletins</string>
			<key>label</key>
			<string>KEEP_ALL_NOTIFICATIONS</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>BannerControls</string>
			<key>label</key>
			<string>BANNER_CONTROLS</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>HideLockMusicControls</string>
			<key>label</key>
			<string>HIDE_LOCK_MUSIC_CONTROLS</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.canzone</string>
			<key>key</key>
			<string>NowPlayingWakeWhenLocked</string>
			<key>label</key>
			<string>WAKE_WHEN_LOCKED</string>
			<key>PostNotification</key>
			<string>ws.hbang.canzone/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>AboutGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBCZSuggestedTweaksListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SUGGESTED_TWEAKS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBCZAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
	</array>
	<key>title</key>
	<string>Canzone</string>
</dict>
</plist>
